name: release automation

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # steps for building assets
      - run: echo "REPLACE ME!" > assets.txt

      - name: Create a Release
        id: create_release
        uses: shogo82148/actions-create-release@v1

      # A release created by shogo82148/actions-create-release is alway draft here.
      # So users may not see an empty release.

      - name: Upload Assets
        uses: shogo82148/actions-upload-release-asset@v1
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: assets.txt

      # shogo82148/actions-create-release publishes the release in the end of the job.
      # Users now can download `assets.txt` from the release page.